# Análise Exploratória de Dados com Pandas

Vamos utilizar Pandas para responder algumas questões relacionadas ao dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Quantos homens e mulheres (atributo *sex*) são representados nesse dataset?

In [5]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

### 2. Qual a idade média (atributo *age*) das mulheres?

In [22]:
criteria = data['sex'] == ' Female'
data.loc[criteria, 'age'].mean()

36.85823043357163

### 3.  Qual é a porcentagem de cidadãos alemães (atributo *native-country*)?

In [15]:
criteria = data['native-country'] == ' Germany'
(data.loc[criteria, "native-country"].count()  * 100) / data['native-country'].count()

0.42074874850281013

### 4. Qua é a média e o desvio padrão de idade daqueles que ganham mais que 50K por ano (atributo *salary*) e daqueles que ganham menos que 50K por ano?

In [26]:
criteria = data['salary'] == ' >50K'
data.loc[criteria, 'age'].mean()

44.24984058155847

In [40]:
criteria = data['salary'] == ' >50K'
data.loc[criteria, 'age'].std()

10.51902771985177

In [38]:
criteria = data['salary'] == ' <50K'
data.loc[criteria, 'age'].mean()

nan

In [42]:
criteria = data['salary'] == ' <50K'
data.loc[criteria, 'age'].std()

nan

### 5. É verdade que pessoas que ganham mais que 50K possuem, pelo menos, educação superior (atributo *education*:  Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters ou Doctorate)?

In [24]:
# criteria = (data['education'].isin([' Bachelors', ' Prof-school',' Assoc-acdm', ' Master', ' Doctorate']))
criteria =( data['salary'] == ' >50K')
data[criteria].count()

age               7841
workclass         7841
fnlwgt            7841
education         7841
education-num     7841
marital-status    7841
occupation        7841
relationship      7841
race              7841
sex               7841
capital-gain      7841
capital-loss      7841
hours-per-week    7841
native-country    7841
salary            7841
dtype: int64

### 6. Mostre estatísticas sobre a idade de cada raça (atributo *race*) e cada gênero (atributo *sex*). Use as funções *groupby()* e *describe()*. Encontre a idade máxima dos homens da raça *Amer-Indian-Eskimo*.

In [100]:
gb = data.groupby(['race', 'sex'])['age']
gb.describe()

                               count       mean        std   min   25%   50%  \
race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

### 7. Encontre a proporção, considerando casados e solteiros (atributo *marital-status*), daqueles que ganham muito (>50K).

In [3]:
criteria = data['salary'] == ' >50K'

data[criteria].groupby('marital-status')[['salary']].count()

# gb.loc[([' Never-married', ' Divorced'], )]

                        salary
marital-status
 Divorced                  463
 Married-AF-spouse          10
 Married-civ-spouse       6692
 Married-spouse-absent      34
 Never-married             491
 Separated                  66
 Widowed                    85

### 8. Qual é o número máximo de horas que uma pessoa trabalha por semana (atributo *hours-per-week*)? Quantas pessoas trabalham esse número de horas e qual a porcentagem daqueles que ganham muito (>50K) entre eles?

### 9. Determine o tempo médio de trabalho (*hours-per-week*) daqueles que ganham pouco (<=50K) e muito (atributo *salary*) para cada país (atributo *native-country*). Quantos dos indivíduos são do Japão?

### 10. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis tipo de trabalho (atributo *workclass*) e educação (atributo *education*).

In [4]:
pd.pivot_table(data, values = 'hours-per-week', index = 'workclass', columns='education', aggfunc='mean')

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
workclass,,,,,,,,,,,,,,,,
?,33.150000,31.711864,34.525000,34.916667,37.233333,32.527778,32.392157,26.234043,33.885246,32.416185,29.533333,31.896617,31.541667,34.000000,28.388889,31.363813
Federal-gov,42.166667,27.444444,35.000000,NaN,40.000000,35.000000,40.000000,41.036364,41.315789,42.617925,50.187500,40.228137,42.656716,NaN,49.896552,40.429134
Local-gov,38.225806,30.555556,36.631579,33.000000,34.555556,36.535714,37.086957,40.409091,41.651163,42.140461,43.592593,39.894632,43.827485,32.500000,45.379310,40.204134
Never-worked,35.000000,10.000000,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,22.000000
Private,36.827338,33.930661,35.141141,38.955882,39.488722,39.910377,38.258398,40.871056,41.225871,42.698676,48.668508,40.507198,44.458613,37.682927,48.101167,38.731645
Self-emp-inc,38.368421,39.285714,42.571429,40.000000,42.500000,45.714286,46.900000,47.914286,49.947368,49.402930,54.685714,47.007168,52.911392,NaN,50.839506,49.362832
Self-emp-not-inc,43.507463,40.483333,44.789474,36.769231,36.105263,42.882979,41.676471,44.211268,46.916667,44.177945,41.740000,45.435335,43.161290,NaN,45.870229,44.117284
State-gov,39.076923,33.357143,39.000000,20.000000,31.250000,31.800000,39.666667,36.853659,41.086957,39.692593,46.820225,39.425373,40.775148,24.000000,50.129032,34.698462
Without-pay,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,50.000000,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,35.333333

### 11. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis ocupação (atributo *occupation*) e gênero (atributo *sex*).

In [5]:
pd.pivot_table(data, values = 'hours-per-week', index = 'occupation', columns='sex', aggfunc='mean')

sex                    Female       Male
occupation
 ?                  29.976219  33.525948
 Adm-clerical       36.741033  39.240065
 Armed-Forces             NaN  40.666667
 Craft-repair       39.869369  42.443642
 Exec-managerial    41.517688  46.371173
 Farming-fishing    37.784615  47.634015
 Handlers-cleaners  36.103659  38.198176
 Machine-op-inspct  38.929091  41.447658
 Other-service      33.437778  36.223411
 Priv-house-serv    32.489362  39.875000
 Prof-specialty     39.423762  44.096762
 Protective-serv    38.526316  43.446771
 Sales              34.274743  44.223712
 Tech-support       37.295977  40.713793
 Transport-moving   36.711111  45.130723

### 12. Exiba o desvio padrão de horas trabalhadas por país (atributo *native-country*) e gênero (atributo *sex*). Faça o mesmo para (atributo *native-country*) e raça (atributo *race*).

In [6]:
pd.pivot_table(data, values = 'hours-per-week', index = 'native-country', columns='sex', aggfunc='std')

sex                             Female       Male
native-country
 ?                           15.211396  10.782206
 Cambodia                     0.000000   2.719528
 Canada                      13.485235  13.067702
 China                       12.976903  10.267628
 Columbia                     7.489002   9.461821
 Cuba                        11.726340   8.956611
 Dominican-Republic           7.375636  13.521971
 Ecuador                      5.659309   9.112038
 El-Salvador                  8.451841   9.947265
 England                     15.903407  12.990480
 France                      10.561508  15.723250
 Germany                     13.713122   9.153454
 Greece                      14.703741  16.424399
 Guatemala                    7.493155   6.112883
 Haiti                       10.284761  12.674221
 Holand-Netherlands                NaN        NaN
 Honduras                    14.387495   6.055301
 Hong                         4.082483   7.565102
 Hungary                     17.440375  18.644545
 India                        7.695335  12.594444
 Iran                         6.611678  12.739339
 Ireland                      6.106203   9.270446
 Italy                       17.755214  11.587753
 Jamaica                      9.439262   8.680843
 Japan                       10.408878  14.135728
 Laos                         5.365232   2.357023
 Mexico                      10.689034  10.211031
 Nicaragua                    8.989472   7.906515
 Outlying-US(Guam-USVI-etc)  13.214350   7.867958
 Peru                         6.612093  13.409555
 Philippines                  8.518513  11.751640
 Poland                      12.937321  10.818514
 Portugal                     5.765624   9.582449
 Puerto-Rico                 10.070566   9.294366
 Scotland                     2.236068  12.863755
 South                       17.215637  15.471950
 Taiwan                      14.674889  14.936904
 Thailand                    18.785391  23.337075
 Trinadad&Tobago             11.196590  11.486016
 United-States               11.787434  12.212134
 Vietnam                     11.423573  12.308984
 Yugoslavia                  11.547005  10.326714

In [7]:
pd.pivot_table(data, values = 'hours-per-week', index = 'native-country', columns='race', aggfunc='std')

race,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
native-country,,,,,
?,NaN,12.141564,8.645142,8.189943,13.395172
Cambodia,NaN,2.577555,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,13.173727
China,NaN,11.204241,NaN,NaN,0.000000
Columbia,NaN,NaN,NaN,14.099983,7.517978
Cuba,NaN,NaN,11.547005,7.071068,10.624096
Dominican-Republic,NaN,NaN,12.126855,15.293213,8.621678
Ecuador,NaN,NaN,NaN,7.043516,11.555865
El-Salvador,NaN,NaN,NaN,9.574271,9.496419
England,NaN,NaN,11.593563,NaN,14.313919
France,NaN,NaN,NaN,NaN,14.955799
Germany,NaN,9.237604,3.703280,NaN,12.799499
Greece,NaN,NaN,NaN,NaN,16.200913
Guatemala,NaN,NaN,NaN,8.246211,5.918347
Haiti,NaN,NaN,11.739513,NaN,NaN
Holand-Netherlands,NaN,NaN,NaN,NaN,NaN
Honduras,NaN,NaN,NaN,NaN,11.329768
Hong,NaN,7.141943,NaN,NaN,2.828427
Hungary,NaN,NaN,NaN,NaN,18.527180
India,NaN,11.677110,7.071068,21.844908,10.020515
Iran,NaN,7.494442,NaN,7.071068,12.519363
Ireland,NaN,NaN,NaN,NaN,8.092108
Italy,NaN,NaN,NaN,NaN,13.650132
Jamaica,NaN,NaN,8.929211,NaN,7.021396
Japan,NaN,16.396145,0.000000,0.000000,9.466778
Laos,NaN,3.865382,NaN,NaN,NaN
Mexico,6.256425,NaN,4.000000,12.190765,10.447560
Nicaragua,NaN,NaN,0.000000,4.000000,9.117400
Outlying-US(Guam-USVI-etc),NaN,NaN,7.359801,NaN,13.201055
Peru,NaN,NaN,NaN,NaN,11.273048
Philippines,NaN,10.645493,NaN,NaN,11.630471
Poland,NaN,NaN,NaN,NaN,11.813572
Portugal,NaN,NaN,NaN,NaN,8.834816
Puerto-Rico,NaN,NaN,4.409586,11.239598,9.515704
Scotland,NaN,NaN,NaN,NaN,9.799119
South,17.677670,16.422387,NaN,NaN,NaN
Taiwan,NaN,15.041300,NaN,NaN,21.213203
Thailand,NaN,19.168985,NaN,NaN,28.284271
Trinadad&Tobago,NaN,8.485281,10.935416,NaN,NaN
United-States,11.814389,12.354182,10.394117,9.750006,12.616284
Vietnam,NaN,12.138880,NaN,NaN,0.000000
Yugoslavia,NaN,NaN,NaN,NaN,11.581415

### 13. Inclua a coluna *retired*, para indicar aposentadoria para quem tem mais de 60 anos e é mulher ou mais de 65 anos e é homem (atirbutos *age* e *sex*).

### 14. Calcule o valor do *z-score* do tempo de trabalho por semana (atributo *hours-per-week*) de cada indivíduo, considerando como média (*mean*) e desvio padrão (*std*) os valores obtido por grupos dados pelo país de origem (atributo *native-country*) e o sexo (atributo *sex*). Dica: o *z-score* de um valor x é dado por:  *(x-mean)/std*.

### 15. Calcule a porporção de indivíduos que ganham bem por país (atributo *native-country*), sexo (atributo *sex*) e raça (atributo *race*).